@{
    ViewBag.Title = "Forgot Password";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Homepage.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title></title>
</head>
<div class="homepage">
    <div class="row">
        <form action="~/Home/ForgotPassword" method="post" class="form-login">
            @{
                if (TempData["hasErrors"] != null && (Boolean)TempData["hasErrors"])
                {
                    <h3 style="color:red">Invalid username</h3>
                }
                if (TempData["isSuccess"] != null && (Boolean)TempData["isSuccess"])
                {
                    <h3 style="color:red">An email was sent to you.</h3>
                }
            }
            <div class="advert">
                <i class="fab fa-ravelry"></i>
            </div>
            <fieldset class="login-fields">
                <input class="form-control user-name" type="text" name="UserName" id="UserName" placeholder="Your Email Adress"> <i class="fas fa-envelope"></i> </input>
            </fieldset>
            <button type="submit" class="log-in">Submit</button>
        </form>
    </div>
    <div class="forgot-password">
        <a href="~/Home/Index"><i class="fas fa-long-arrow-alt-left"></i>Back</a>
    </div>
</div>
