@{
    ViewBag.Title = "Home Page";
}
@model Ads.Models.ErrorResponseViewModel

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Homepage.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title></title>
</head>
<div class="homepage">
    <form action="~/Home/Login" method="post" class="form-login">
        @{
            if (TempData["hasErrors"] != null && (Boolean)TempData["hasErrors"] == true)
            {
                <h3 style="color:red">Invalid username or password</h3>
            }
            if (TempData["isEmailSent"] != null && (Boolean)TempData["isEmailSent"])
            {
                <h3 style="color:red">An email was sent to you.</h3>
            }
        }
        <div class="advert">
            <i class="fab fa-ravelry"></i>
        </div>
        <fieldset class="login-fields">
            <i class="fas fa-user-tie"></i>
            <input class="form-control user-name" type="text" name="UserName" id="UserName" placeholder="User name" />
        </fieldset>
        <fieldset class="login-fields">
            <i class="fas fa-unlock-alt"></i>
            <input class="form-control user-name" type="password" name="Password" id="Password" placeholder="Password" />
        </fieldset>
        <button type="submit" class="log-in">Log In</button>
    </form>
    <div class="forgot-password">
        <a href="~/Home/ForgotPassword" class="password">Forgot password ?</a>
        <a href="~/Home/Register" class="register">Register here</a>
    </div>
</div>
