@{
    ViewBag.Title = "Reset password";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Homepage.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title></title>
</head>
<div class="homepage">
    <div class="row">

        <form action="~/Home/ChangePassword" method="post" class="form-login">
            <input type="hidden" value="@ViewBag.UserId" name="userId"/>
            <div class="logo-home">
                <i class="fab fa-ravelry"></i>
            </div>
            <fieldset class="login-fields">
                <i class="fas fa-key"></i>
                <input class="form-control register-margin" type="password" name="Password" id="Password" placeholder="Password"/>
            </fieldset>
            <fieldset class="login-fields">
                <i class="fas fa-key"></i>
                <input class="form-control register-margin" type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm password"/>
            </fieldset>
            <button type="submit" class="log-in">Submit</button>
        </form>
    </div>
    <div class="forgot-password">
        <a href="~/Home/Index"><i class="fas fa-long-arrow-alt-left"></i>Back</a>
    </div>
</div>
